# this Juypter notebook contains images, and tables, 
# blowing up the total language fraction unrealistically; 
# then 'Juypter notebooks' are suddenly 56% of the repo language.
# Nonsense. 
# As they don't want to parse notebooks better
# (wont-fix = https://github.com/github/linguist/issues/3496)
# I simply exclude this file from counting now:

reader/blocksDB_analyze_notebook.ipynb linguist-generated=true

