[global_config]
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      command = ""
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
  [[chainhammer01]]
    [[[child0]]]
      fullscreen = False
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 0:0
      size = 1440, 1080
      title = ssh chainhammer
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 225
      ratio = 0.208333333333
      type = VPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 657
      ratio = 0.45625
      type = HPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 350
      ratio = 0.409836065574
      type = VPaned
    [[[child7]]]
      order = 1
      parent = child5
      position = 265
      ratio = 0.526838966203
      type = VPaned
    [[[child8]]]
      order = 0
      parent = child7
      position = 722
      ratio = 0.501388888889
      type = HPaned
    [[[terminal10]]]
      command = 'ssh -t chainhammer "tail -f CH/logs/send.py.log"'
      order = 1
      parent = child8
      profile = send
      title = send.py.log
      type = Terminal
      uuid = 9fd512cf-a70e-4f95-8363-9742f88cdde8
    [[[terminal11]]]
      command = 'ssh -t chainhammer "tail -f CH/logs/tps.py.log"'
      order = 1
      parent = child7
      profile = tps
      title = tps.py.log
      type = Terminal
      uuid = 7709dda5-07f8-4bff-9a86-d1df923b9120
    [[[terminal3]]]
      command = '''ssh -t chainhammer "watch -n 5 'df'"'''
      order = 0
      parent = child2
      profile = df
      title = df
      type = Terminal
      uuid = 297486ca-e606-400b-a576-4a7a4c925ad9
    [[[terminal4]]]
      command = 'ssh -t chainhammer "htop"'
      order = 1
      parent = child2
      profile = htop
      title = htop
      type = Terminal
      uuid = d8d62f77-e6a2-45c0-b7c8-10d02009d486
    [[[terminal6]]]
      command = 'ssh -t chainhammer "tail -n 10 -f CH/logs/network.log"'
      order = 0
      parent = child5
      profile = network
      title = network.log
      type = Terminal
      uuid = e79cebe1-263c-4aaf-90e1-f13a3eac39c7
    [[[terminal9]]]
      command = 'ssh -t chainhammer "tail -f CH/logs/deploy.py.log"'
      order = 0
      parent = child8
      profile = deploy
      title = deploy.py.log
      type = Terminal
      uuid = 09218eff-53de-4fde-a845-3f41b62929f2
[plugins]
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
  [[default-font]]
    cursor_color = "#aaaaaa"
    font = Mono 11
    use_system_font = False
  [[deploy]]
    cursor_color = "#aaaaaa"
    font = Mono 9
    use_system_font = False
  [[df]]
    cursor_color = "#aaaaaa"
    use_system_font = False
  [[htop]]
    cursor_color = "#aaaaaa"
    font = Mono 9
    use_system_font = False
  [[network]]
    cursor_color = "#aaaaaa"
    font = Mono 8
    use_system_font = False
  [[send]]
    cursor_color = "#aaaaaa"
    font = Mono 9
    use_system_font = False
  [[tps]]
    cursor_color = "#aaaaaa"
    use_system_font = False
