[global_config]
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      command = ""
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
  [[chainhammer01]]
    [[[child0]]]
      fullscreen = False
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 170:738
      size = 1680, 1080
      title = ssh chainhammer
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 248
      ratio = 0.208754208754
      type = VPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 654
      ratio = 0.391148325359
      type = HPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 385
      ratio = 0.410010649627
      type = VPaned
    [[[child7]]]
      order = 1
      parent = child5
      position = 291
      ratio = 0.526220614828
      type = VPaned
    [[[child8]]]
      order = 0
      parent = child7
      position = 831
      ratio = 0.497009569378
      type = HPaned
    [[[terminal10]]]
      command = 'ssh -t chainhammer "tail -f CH/logs/send.py.log"'
      order = 1
      parent = child8
      profile = send
      title = send.py.log
      type = Terminal
    [[[terminal11]]]
      command = 'ssh -t chainhammer "tail -f CH/logs/tps.py.log"'
      order = 1
      parent = child7
      profile = tps
      title = tps.py.log
      type = Terminal
    [[[terminal3]]]
      command = '''ssh -t chainhammer "watch -n 5 'df'"'''
      order = 0
      parent = child2
      profile = df
      title = df
      type = Terminal
    [[[terminal4]]]
      command = 'ssh -t chainhammer "htop"'
      order = 1
      parent = child2
      profile = htop
      title = htop
      type = Terminal
    [[[terminal6]]]
      command = 'ssh -t chainhammer "tail -n 10 -f CH/logs/network.log"'
      order = 0
      parent = child5
      profile = network
      title = network.log
      type = Terminal
    [[[terminal9]]]
      command = 'ssh -t chainhammer "tail -f CH/logs/deploy.py.log"'
      order = 0
      parent = child8
      profile = deploy
      title = deploy.py.log
      type = Terminal
[plugins]
[profiles]
  [[default]]
  [[default-font]]
    cursor_color = "#aaaaaa"
    font = Mono 11
    use_system_font = False
  [[deploy]]
    cursor_color = "#aaaaaa"
    font = Mono 9
    use_system_font = False
  [[df]]
    cursor_color = "#aaaaaa"
    use_system_font = False
  [[htop]]
    cursor_color = "#aaaaaa"
    font = Mono 9
    use_system_font = False
  [[network]]
    cursor_color = "#aaaaaa"
    font = Mono 8
    use_system_font = False
  [[send]]
    cursor_color = "#aaaaaa"
    font = Mono 9
    use_system_font = False
  [[tps]]
    cursor_color = "#aaaaaa"
    use_system_font = False
